:root {
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light primary;
  .light {
    --color-primary-100: #ffffff;
    --color-primary-200: #f0f0f0;
    --color-primary-300: #d9d9d9;
    --color-primary-400: #bfbfbf;
    --color-primary-500: #a6a6a6;
    --primary-font-color: #000000;
    --primary-bg-color: var(--color-primary-100);
    --chatbox-bg-color: var(--color-primary-200);
    --button-bg-color: var(--color-primary-300);
    --button-bg-color-hover: var(--color-primary-400);
    --box-shadow-1: rgb(0, 0, 0) 0px 0px 8px 0px;
    
    --hljs-background-color: #ffffff;
    --hljs-font-color: #24292e;
    --hljs-keyword-color: #d73a49;  /* keywords */
    --hljs-string-color: #032f62;   /* strings */
    --hljs-comment-color: #6a737d;  /* comments */
    --hljs-title-color: #6f42c1;    /* function/class titles */
    --hljs-attr-color: #005cc5;     /* attributes */
    
    /* Text color and background */
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
  }
  
  .dark {
    --color-primary-100: #282c34;
    --color-primary-200: #353b45;
    --color-primary-300: #3e4451;
    --color-primary-400: #5e687e;
    --color-primary-500: #7b8a9a;
    --primary-font-color: #ffffff;
    --primary-bg-color: var(--color-primary-100);
    --chatbox-bg-color: var(--color-primary-200);
    --button-bg-color: var(--color-primary-300);
    --button-bg-color-hover: var(--color-primary-400);
    --box-shadow-1: rgb(255 255 255) 0px 0px 8px 0px;
    
    --hljs-background-color: #22272e;
    --hljs-font-color: #adbac7;
    --hljs-keyword-color: #f47067;  /* keywords */
    --hljs-string-color: #96d0ff;   /* strings */
    --hljs-comment-color: #768390;  /* comments */
    --hljs-title-color: #dcbdfb;    /* function/class titles */
    --hljs-attr-color: #6cb6ff;     /* attributes */
    
    /* Text color and background */
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
  }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
