<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="icon" type="image/png" href="/static/favicon.ico">
		{% include "entry.twig" %}
		{% block header %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
		{% block scripts %}{% endblock %}
	</body>
</html>
